@CHARSET "UTF-8";
/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens */
@media (min-width: 640px){
	html { font-size: 112%; }
}

/* Large screens */
@media(min-width: 1024px) {
	html { font-size:120%; }
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

